.DS_Store
.next
.nuxt
.pnpm-debug.log*
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo
*.vitest-temp.json

.direnv
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

__screenshots__

js/docs/.vitepress/dist
js/docs/.vitepress/cache
next-env.d.ts

result
tasks

# Rust
rust/fedimint-client-uniffi/target/
rust/fedimint-sdk/target/

.conductor
.claude
.vscode


#expo-app

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


# OSX
.DS_Store

# XDE
.expo/

# VSCode
.vscode/
jsconfig.json

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
.xcode.env.local

# Android/IJ
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml
*.aar

# Cocoapods
example/ios/Pods

# Ruby
example/vendor/

# node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Expo
.expo/

# Turborepo
.turbo/

# generated by bob
lib/

# uniffi-bindgen-react-native
rust_modules/
*.a
*.so

# React Native Codegen
js/react-native/react-native-bindings/ios/generated
js/react-native/react-native-bindings/android/generated
js/react-native/react-native-bindings/android/src/main/jniLibs
binaries.tar.gz
js/react-native/react-native-bindings/FedimintReactNativeBindingsFramework.xcframework
js/react-native/react-native-bindings/ios-artifacts.zip
js/react-native/react-native-bindings/android-artifacts.zip
js/react-native/react-native-bindings/ReactNativeBindings.podspec.orig
js/react-native/react-native-bindings/cpp/generated/
js/react-native/react-native-bindings/src/generated/
js/react-native/react-native-bindings/android/cpp-adapter.cpp.rej
js/react-native/react-native-bindings/android/cpp-adapter.cpp.orig

# js/examples/react-native
js/examples/react-native/vendor
js/examples/react-native/ios/Pods
js/examples/react-native/**/.xcode.env.local
js/examples/react-native/DerivedData
js/examples/react-native/*.ipa
js/examples/react-native/*.hprof
js/examples/react-native/*.iml
js/examples/react-native/*.keystore
!js/examples/react-native/android/app/debug.keystore
js/examples/react-native/*.jsbundle
js/examples/react-native/**/fastlane/report.xml
js/examples/react-native/**/fastlane/Preview.html
js/examples/react-native/**/fastlane/screenshots
js/examples/react-native/**/fastlane/test_output